div#container {
  background-color: red;
  height: auto;
}

div#header {
  background-color: blue;
  height: 200px;
}

div#content {
  background-color: grey;
  height: auto;
  min-height: 550px;
  padding: 20px;
}

div#sidebar {
  background-color: green;
  height: auto;
  min-height: 550px;
}

div#footer{
  background-color: blue;
}

div#footerL,div#footer,div#footerR {
  height: 100px;
}

ul#products {
  padding: 10px;
}
nav#navbar {
 margin-top:145px;
}
#content > .dropdown {
  padding-bottom: 10px;

}

.input-group{
  width: 100%;
}

.buttonright {
}
#toggler {
  float:right;
}

.items {
  width: 100%;
  margin: 0 auto;
}

img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0px solid;
  border-radius: 8px;
}
.saltos {
  margin-left: 10px;
  float: left;
  left:400px;
  top:-40px;
  position: relative;
  background-color: none;
  border: 2px solid white;
  border-radius: 15px;
  width: 10px;
  height: 10px;
}
#menucontainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
